:root {
    --width: 400px;
    --height: 600px;
    --bobH: 85px;
    --bobW: 60px;
    --backBG: linear-gradient(0deg, rgba(87, 119, 138, 1) 0%, rgba(188, 215, 221, 1) 58%, rgba(255, 255, 255, 1) 89%, rgba(221, 221, 221, 1) 100%);
    ;
    --bobBG: url(lander.gif);
    --boardBG: url(board.png);
    --scoreColor: #333;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    position: relative;
    width: var(--width);
    height: var(--height);
    background: var(--backBG);
    overflow: hidden;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #d24;
}

.bob {
    position: absolute;
    width: var(--bobW);
    height: var(--bobH);
    background: var(--bobBG);
}

.platform {
    position: absolute;
    width: 85px;
    height: 15px;
    background: var(--boardBG);
}


/* div div {
    border: 2px solid black;
    border-radius: 5px;
} */

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: calc(var(--width) / 8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: center;
    color: var(--scoreColor);
    background: #ddd;
}

.start {
    width: var(--width);
    height: calc(var(--width) / 8);
    font-size: 2em;
}